.list-category{
  font-size:2.5em;
  font-weight: 2.5em;
  color : hsl(0, 0%, 20%);
  margin-bottom : 10px;
  text-align :center;
  border : 3px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 0.666);
}
.list-items li{
  font-size : 2em;
  list-style: none;
  color :hsl(0, 0%, 20%);
  text-align: center;
  margin : 0;
}
.list-items li:hover{
  color : hsl(0,0%,45%);
  cursor : pointer;
}